@font-face {
    font-family: "Orbitron";
    src: url("fonts/Orbitron-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Orbitron";
    src: url("fonts/Orbitron-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Orbitron";
    src: url("fonts/Orbitron-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Orbitron";
    src: url("fonts/Orbitron-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Orbitron";
    src: url("fonts/Orbitron-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Orbitron";
    src: url("fonts/Orbitron-Black.ttf") format("truetype");
    font-weight: 900;
}

